@use '@/styles/variables' as v;
@use '@/styles/mixin' as m;

*{
  font-family: pretendard, -apple-system, sans-serif !important;
}

.dropDown {
	display: inline-block;
	position: relative;
}

.toggle {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	width: 180px;
	padding: 9px 20px;
	background: #ffffff;
  border: none;
	border-radius: 15px;
	cursor: pointer;
	color: v.$gray81;
	font-size: 16px;
}

.label {
	flex: 1 1 auto;
	text-align: left;
}

.caret {
	color: #9b9b9b;
	font-size: 14px;
}

.list {
	position: absolute;
	right: 0;
	top: calc(100% + 8px);
	width: 180px;
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
	padding: 0;
  margin: 0;
	z-index: 40;
}

.item {
	list-style: none;
	padding: 12px 0;
	text-align: center;
	cursor: pointer;
  color: v.$black;
	font-size: 16px;
	background: transparent;
  border-top: 1px solid v.$grayDD;
}

.item:first-child {
	border-top: none;
}

.item:hover,
.highlight {
	background: rgba(0,0,0,0.03);
}

.selected {
	font-weight: 600;
}
