@use '@/styles/variables' as v;
@use '@/styles/mixin' as m;

.studyCard {
  width: 100%;
  max-width: 358px;
  min-width: 312px;
  height: 243px;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(65, 65, 65, 0.5);

  padding: 30px;

  display: flex;

  cursor: pointer;

  @include m.mobile {
    height: 180px;
  }

  .nickName {
    color: v.$white;
  }

  .studyName {
    color: v.$white;
  }
  .title,
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.studyCardWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.header {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.headerWrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
  }
}

.dDate {
  color: v.$grayEE;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: v.$white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include m.mobile {
    font-size: 14px;
  }
}

.green {
  background-color: v.$backgroundGreen;
}

.yellow {
  background-color: v.$backgroundYellow;
  color: v.$backgroundYellow;
}

.blue {
  background-color: v.$backgroundBlue;
  color: v.$backgroundBlue;
}

.pink {
  background-color: v.$backgroundPink;
  color: v.$backgroundPink;
}

.alvaro {
  background: url('@assets/backgroundImg/alvaro-reyes-zvmZiw3vdsQ-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mikey {
  background: url('@assets/backgroundImg/mikey-harris-kw0z6RyvC0s-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.andrew {
  background: url('@assets/backgroundImg/andrew-ridley-jR4Zf-riEjI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chris {
  background: url('@assets/backgroundImg/chris-lee-70l1tDAI6rM-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blackFont {
  .greenName {
    color: v.$green_text;
  }

  .yellowName {
    color: v.$yellow_text;
  }

  .blueName {
    color: v.$blue_text;
  }

  .pinkName {
    color: v.$pink_text;
  }

  .studyName {
    color: v.$black;
  }

  .dDate {
    color: v.$gray81;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  .description {
    color: v.$black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@include m.tablet {
  .studyCard {
    height: 243px;
  }
}

@include m.mobile {
  .studyCard {
    height: 180px;

    padding: 16px 88px 16px 16px;
  }

  .header {
    gap: 4px;
  }

  .headerWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 6px;

    .title {
      font-size: 16px;
      line-height: normal;
    }

    .dDate {
      font-size: 12px;
    }

    .description {
      font-size: 14px;
      line-height: normal;
    }
  }

  .blackFont {
    .dDate {
      font-size: 12px;
    }

    .description {
      font-size: 14px;
      line-height: 24px;
    }
  }
}
