$black: #414141;
$gray81: #818181;
$grayDD: #dddddd;
$grayEE: #eeeeee;

$bg: #f6f4ef;
$brand: #99c08e;

$error: #c41013;
$red: #f50e0e;
$error_bg: #ffa3a5;

$green: #e1edde;
$yellow: #fff1cc;
$blue: #e0f1f5;
$pink: #fde0e9;

$green_text: #579246;
$yellow_text: #c18e1b;
$blue_text: #418099;
$pink_text: #bc3c6a;
