@use '@/styles/variables' as v;
@use '@/styles/mixin' as m;

.habitList {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding-left: 100px;
  padding-right: 44px;

  .deleteBtn {
    border: none;
    display: flex;
    width: 54px;
    height: 54px;
    padding: 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    background: v.$pink;
    flex-shrink: 0;

    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.habitRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.habitItem {
  display: flex;
  width: 100%;
  max-width: calc(100% - 60px);
  height: 54px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background: v.$grayEE;
  padding: 0 16px;
}

.habitName {
  color: v.$gray81;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: 'from-font';

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.habitInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: v.$gray81;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid v.$gray81;

  &::placeholder {
    color: v.$gray81;
    opacity: 0.5;
  }
}

.addHabit {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 24px;
    height: 24px;
  }
}

// 습관 추가 전용 스타일 (삭제 버튼 영역 제외)
.addHabitItem {
  width: calc(100% - 60px);

  border-radius: 20px;
  border: 2px solid v.$black_text;
  background: transparent;
}

// 습관 입력 필드 전용 스타일 (검색 버튼 영역 제외)
.habitInputItem {
  width: calc(100% - 60px);
}

@include m.mobile {
  .habitList {
    padding: 0;
  }

  .habitName {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .addHabitItem {
    width: calc(100% - 60px);
  }

  .habitInputItem {
    width: calc(100% - 60px);
  }
}
