@use '@/styles/variables' as v;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: v.$black_text;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .exitBtn {
    position: absolute;
    right: 0;
    width: 147px;
    height: 17px;

    // 버튼 기본 스타일 제거
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;

    color: #578246;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.warning {
  padding: 24px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: v.$gray81;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.passwordWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-bottom: 40px;

  .title {
    color: v.$black_text;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.button {
  display: flex;
  width: 100%;
  height: 58px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .modal {
    display: flex;
    flex-direction: column;
  }

  .header {
    .title {
      color: v.$black_text;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
  }

  .warning {
    color: v.$gray81;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .passwordWrapper {
    padding-bottom: 24px;
    .title {
      color: v.$black_text;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .button {
    width: 100%;
    height: 58px;
  }

  .exitBtnMobile {
    color: #578246;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;

    padding-top: 14px;
  }
}
