@use '@/styles/variables' as v;
@use '@/styles/mixin' as m;

*{
  box-sizing: border-box;
}

.emojiBox {
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 4px;
}

.emojiAdd{
  position: relative;
}

.addButton {
	@include m.btn-base;
	padding: 6px 10px;
	border-radius: 6px;
	background: transparent;
	border-color: v.$grayDD;
}

.list {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
}

.item {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	padding: 6px 8px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.50);
  cursor: pointer;
}

.itemEmoji {
	font-size: 16px;
}

.itemCount {
	font-size: 12px;
	color: white;
	border-radius: 10px;
}

.pickerWrapper {
  position: relative;
  top: 8px;
}

.sideList {
  position: absolute;
  right: calc(100% + 8px);
	display: flex;
	flex-flow: row wrap;
  width: max-content;
	max-width: 233px;
	gap: 6px;
	padding: 8px;
	max-height: 320px;
	overflow-y: auto;
	background: white;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.picker {
  position: absolute;
  z-index: 2000;
  top: 0px;
  left: 0;
}