$black: #414141;
$gray81: #818181;
$grayDD: #DDDDDD;
$grayEE: #EEEEEE;

$bg: #F6F4EF;
$brand: #99C08E;

$error: #C41013;
$red: #F50E0E;
$error_bg: #FFA3A5;

$green: #E1EDDE;
$yellow: #FFF1CC;
$blue: #E0F1F5;
$pink: #FDE0E9;

$green_text: #579246;
$yellow_text: #C18E1B;
$blue_text: #418099;
$pink_text: #BC3C6A;
