@use '@/styles/variables' as v;

.overlay {
  width: 648px;
  flex-shrink: 0;
  border-radius: 20px;
  background: v.$white;

  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .overlay {
    width: 344px;
  }
}
